table.pendingreviews-list {
	width: 100%;
	border-collapse: collapse;
}
td.pendingreviews-page-title {
	vertical-align: top;
	font-size: 16px;
	padding-top: 5px;
}
.pendingreviews-timediff {
	font-size: 11px;
	font-style: italic;
	padding-left: 5px;
}
td.pendingreviews-review-links {
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
	padding-top: 5px;
}

tr.pendingreviews-odd-row td {
}
tr.pendingreviews-even-row td {
}

.pendingreviews-changes-list-time {
	font-size: 10px;
	font-style: italic;
}

/* table.pendingreviews-list td.pendingreviews-bottom-cell {
	border-bottom: solid #ddd 2px;
} */
table.pendingreviews-list td.pendingreviews-top-cell {
	border-top: solid #ddd 2px;
}

tr.pendingreviews-row td:first-child {
	border-left: solid #ddd 5px;
	padding-left: 5px;
}
/*tr.pendingreviews-row-hover td:first-child {
	border-left: solid green 5px;
}*/
tr.pendingreviews-row-hover td.pendingreviews-bottom-cell {
	/* border-bottom: solid green 2px; */
}
tr.pendingreviews-row-hover td {
	background-color: #f9f9f9;
}

tr.pendingreviews-criticality-red td:first-child {
	border-left: solid red 5px;
}
tr.pendingreviews-criticality-orange td:first-child {
	border-left: solid orange 5px;
}
tr.pendingreviews-criticality-green td:first-child {
	border-left: solid green 5px;
}

.pendingreviews-legend {
	float:right;
	margin-bottom: 10px;
}
.pendingreviews-legend td {
	padding-left: 5px;
}

td.pendingreviews-review-links a {
	color: #fff;
	border: 1px solid transparent;
/* 	background-color: #428bca;
	border-color: #357ebd; */
	padding: 8px;
	font-size: 14px;
	line-height: 1;
	border-radius: 6px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

td.pendingreviews-review-links a:hover {
	color: #fff;
/* 	background-color: #3276b1;
	border-color: #285e8e; */
	text-decoration: none;
}

.pendingreviews-dark-blue-button {
	background-color: #347BFF;
	border-color: #347BFF;
}
.pendingreviews-dark-blue-button:hover {
	background-color: #2456B3;
	border-color: #347BFF;
}

.pendingreviews-green-button {
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.pendingreviews-green-button:hover {
	background-color: #449d44;
	border-color: #398439;
}

.pendingreviews-light-blue-button {
	background-color: #5bc0de;
	border-color: #46b8da;
}

.pendingreviews-light-blue-button:hover {
	background-color: #31b0d5;
	border-color: #269abc;
}

.pendingreviews-orange-button {
	background-color: #ec971f;
	border-color: #d58512;
}

.pendingreviews-orange-button:hover {
	background-color: #ec971f;
	border-color: #d58512;
}

.pendingreviews-red-button {
	background-color: #d9534f;
	border-color: #d43f3a;
}
.pendingreviews-red-button:hover {
	background-color: #c9302c;
	border-color: #ac2925;
}