.mw-watchanalytics-watchlist-badge {

}

.mw-watchanalytics-watchlist-pending {
	font-weight: bold;
}

.mw-watchanalytics-watchlist-pending-old {
	font-size: 16px;
}

.watch-analytics-watchers-needed-link {
	font-weight: bold;
}
