#watch-analytics-review-handler {
  padding: 8px 20px;
	background-color: #fcf8e3;
	border-radius: 4px;
	margin: 0 0 20px 0;
	border-style: solid;
	border-width: 1px;
	border-color: #faebcc;
	color: #000;
}

#watch-analytics-unreview {
	float: right;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;

	padding: 6px 8px;
	line-height: 1.3;
	margin: 5px -5px 5px 15px;
	border-radius: 4px;

	border-width: 1px;
	border-style: solid;

	background-color: #ec971f;
	border-color: #d58512;
	color: white;
}

#watch-analytics-unreview:hover {
	background-color: #ec971f;
	border-color: #d58512;
}

#watch-analytics-unreview.pendingreviews-green-button.pendingreviews-accept-change {
	background-color: #00af89;
  border-color: #00af89;
}

#watch-analytics-unreview.pendingreviews-green-button.pendingreviews-accept-change:hover {
	background-color: #14866d;
  border-color: #00af89;
}

#diff-box {
  padding: 8px 20px;
	background-color: #fff;
	border-radius: 4px;
	margin: 0 0 20px 0;
	border-style: solid;
	border-width: 1px;
	border-color: #ec971f;
	color: #000;
}

#watch-analytics-go-to-top-button {
  font-size: 16px;
  outline: none;
  display: none;
  position: fixed;
  top: 20px;
  z-index: 99;
  background-color: #fcf8e3;
  border-color: #ec971f;
  color: #000;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  width:40%;
  margin-left: 20%;
  margin-right: 40%;
}

#watch-analytics-go-to-top-button:hover {
  background-color: #ec971f;
  color: #fff;
}
