
#ext-watchanalytics-pagescores {
	float: right;
	font-size: 12px;
	padding: 5px 0 0 0;
	transition: opacity 0.5s ease;
	opacity: 0.6;
	text-decoration: none;
}
#ext-watchanalytics-pagescores:hover {
	opacity: 1.0;
}

#ext-watchanalytics-pagescores > div {
	display: inline-block; /* FIXME: test on IE */
	margin: 0 1px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#ext-watchanalytics-pagescores > div > div {
	padding: 4px 8px;
	font-size: 12px;
	line-height: 1.3;
	margin: 0;
	float: left;
	border-radius: 4px;

	border-width: 1px;
	border-style: solid;
}

.ext-watchanalytics-pagescores-danger > div {
	background-color: red;
	border-color: red;
	color: white;
}
.ext-watchanalytics-pagescores-warning > div {
	background-color: orange; /* was orangered */
	border-color: orange;
	color: white;
}
.ext-watchanalytics-pagescores-okay > div {
	background-color: khaki;
	border-color: khaki;
	color: #333;
}
.ext-watchanalytics-pagescores-good > div {
	background-color: greenyellow;
	border-color: greenyellow;
	color: #333;
}
.ext-watchanalytics-pagescores-excellent > div {
	background-color: green;
	border-color: green;
	color: white;
}

.ext-watchanalytics-pagescores-left {
	background-color: white !important;
	color: #333 !important;
	display: none;
}


/*#ext-watchanalytics-pagescores:hover .ext-watchanalytics-pagescores-left {
	border-radius: 4px 0 0 4px;
	display: inherit;
}
#ext-watchanalytics-pagescores:hover .ext-watchanalytics-pagescores-right {
	border-radius: 0 4px 4px 0;
}
*/